@model Lab6_nirmal.Models.Chocolate

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Chocolate</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Chocolate Company
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.chocolateMake)
        </dd>
        <dt class="col-sm-2">
            Chocolate Name
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.chocolateName)
        </dd>
        <dt class="col-sm-2">
            Expiry Date
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.expireYear)
        </dd>
        <dt class="col-sm-2">
            MRP ($)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.price)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
